        <!-- Check Start -->
        <div class="check">
            <div class="left-panel">
                <!-- Left panel details -->
                <div class="left-date">{transDate}</div>
                <div class="left-payee">{accountIdSearch}</div>
                <div class="left-amount">{payAmount}</div>
                <div class="left-memo">{comment}</div>
                <div class="left-acct">{accountNo}</div>
            </div>
            <div class="right-panel">
				<div class="date-line">
					{transDate}
				</div>
				<div class="payee-line">
					{accountIdSearch}
				</div>
				<div class="amount-line">
					{payAmount}
				</div>
				<div class="amount-words-line">
					{amountInWords}
				</div>
				<div class="memo-line">
					{comment}
				</div>
			</div>
        </div>
		<!-- Check End -->
