	<script>
	
	/*
	 *	The following variables retain the context for the page.
	 *	Rendering the context will initialize these variables.
	 */
		var contextId	= "{contextId}";
		var resource 	= "{resource}";
		var lastPage	= {lastPage};
		var pageNo		= {pageNo};
		var perPage		= {perPage};
		var limit		= {limit};
		var filterStr	= "{filterStr}";
		var persistentFilter = "{persistentFilter}";
		var sortBy 		= "{sortBy}" ;
		var restURL 	= "{restURL}" ;
		var thisURL		= "{thisURL}" ;
		var auth		= {auth} ;
	</script>
